#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: row;
  width: 99dvw;
  min-height: 95dvh;

  .navi {
    position: fixed;
    width: 14%;
    z-index: 100;
  }

  .content {
    margin-left: 17.5%;
    min-height: 100dvh;
    padding: 2.5rem 1rem;
    flex-grow: 1;
    // overflow-x: hidden;
    // overflow-y: hidden;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .layout {
    // flex-direction: column;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    // background-color: yellow;
    // margin: 2rem;
    overflow-x: hidden;
    box-sizing: border-box;

    .navi{
      width: 100%;
      // box-sizing: border-box;
    }
    .content {
      /* artık solda boşluk bırakma */
      // width: 90%;
      padding: 3rem 0.5rem;
      position: absolute;
      left: 2px;
      margin: 0;
      width: 100%;
      min-width: 0;
      max-width: 100%;
      box-sizing: border-box;
      overflow-x: hidden;
      // min-height: 100dvh;
      // padding: 1rem;
      // height: 90dvh;
      // gap:2rem;
      // margin-left: 2rem;
      // padding-bottom: 70px; /* navinin yüksekliği kadar boşluk bırak ki üstüne binmesin */
    
      .content-item{
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        padding: 2rem;
        margin: 0;
        // padding: 2rem;
      }
    }
  }
}

.languageCont {
  position: fixed;
  z-index: 900000;
}

.langButton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.langButton:hover {
  border-color: red;
}

.langButton:focus,
.langButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
