.contact {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .cont-text,
  .cont-from {
    color: #292825;
    font-size: xx-large;
    height: 94dvh;
    border-radius: 2rem;
    box-shadow: 0 8px 20px rgba(71, 69, 69, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
  }

  .cont-text {
    .lets {
      position: relative;
      top: -30px;
      align-self: flex-start;
      font-size: 12rem;
      margin-left: 80px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      letter-spacing: 7px;
    }
    .talk {
      position: relative;
      top: -60px;
      align-self: center;
      font-size: 12rem;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      letter-spacing: 7px;
    }
    .buss {
      position: relative;
      top: -80px;
      align-self: flex-end;
      font-size: 12rem;
      margin-right: 80px;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      letter-spacing: 7px;
    }
    hr {
      position: relative;
      top: -40px;
      width: 95%;
      border: solid 1px;
    }
  }

  

  @media (max-width: 768px) {
    gap: 20px;

    .cont-text,
    .cont-from {
      height: auto;
      padding: 10px;
      font-size: large;
    }

    .cont-text {
      .lets,
      .talk,
      .buss {
        font-size: 4rem;
        letter-spacing: 2px;
        text-align: center;
        margin: 0 auto;
        position: static;
        align-self: center;
      }
    }

    hr {
      top: 0;
      width: 100%;
    }
    
  }


}
