.content {
  // max-width: 1280px;
  // margin: 0 auto;
  // padding: 2rem;
  // text-align: center;
  .content__item {
    position: relative;
    background-color: midnightblue;
    width: 85vw;
    // height: 95vh;
    left: -60px;
    border-radius: 3rem;
  }
}
