
.home {
  background-color: #98b0b65b;
  border-radius: 2rem;
  height: 94dvh; // PC için
  position: relative;
  box-shadow: 0 8px 20px rgba(71, 69, 69, 0.3);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // border-radius: 2rem;
    display: block;
  }

  /* Mobil ve küçük ekranlar için */
  @media (max-width: 768px) {
    height: auto; /* küçük ekranlarda sabit yükseklik olmasın */
    box-shadow: none; /* gölgeyi azaltabilirsin istersen */

    img {
      height: auto;
    }
  }
}
