.navi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  position: fixed;
  left: 20px;
  top: 20px;
  width: 200px;
  height: 900px;
  z-index: 1200;
  overflow-y: auto;

  background-image: none;
  background-attachment: scroll;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto;

  color: rgb(50, 25, 160); //font rengi
  font-family: "StabilGrotesk", sans-serif;
  font-feature-settings: "ss02";
  unicode-bidi: isolate;

  gap: 15px;

  display: flex;
  overflow: hidden;
}

// Tıklanabilir link / buton
.navi__item {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: flex-start;
  //   justify-content: space-between;

  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  //   pointer-events: all;  //Bu elemanın tıklanabilir olmasını sağlar. Normalde varsayılan auto zaten bunu yapar.

  width: 200px;
  height: 114px;
  min-height: 104px;

  // background-color: rgb(255, 255, 255);
  border: 1px solid rgb(219, 219, 219);
  border-radius: 16px;

  //   font-kerning: auto;
  //   font-optical-sizing: auto;
  font-size: 13px;
  //   font-style: normal;
  font-weight: 400;
  //   line-height: normal;
  //   letter-spacing: normal;
  text-align: center;
  //   text-indent: 0;
  //   text-transform: none;
  //   text-rendering: auto;
  text-shadow: none;
  //   word-spacing: 0;

  //   transition-property: background, border, color, filter;
  //   transition-duration: 0.3s, 0.3s, 0.3s, 0.3s;
  transition: all 0.3s ease-in-out;
  //   transition-delay: 0s, 0s, 0s, 0s;
  //   transition-behavior: normal, normal, normal, normal;

  flex: 1;
  // transition: all 0.5s ease;

  &.active {
    flex: 3;
    background-color: #92a746;

  }
  // &:hover{
  //   flex:3
  // }
}

.navi__item a {
  //   text-decoration: none;
  // color: rgb(14, 14, 14);
  width: 100%;
  display: block;
  text-align: center;
}
.navi__item:hover {
  background-color: transparent; // opsiyonel hover efekti
  border: solid 1px white;
  //   flex: 3;
}


