.work{
    // background-color: pink;
    // width: 900px;
    // height: 700px;
    .item1{
        height: 200px;
        background-color: gray;
    }
    .item2{
        height: 200px;
background-color: bisque;
    }
    .item3{
        height: 200px;
        background-color: pink;
    }
}